/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Reset end */


/* 
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; 
*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    flex-direction: row;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 40px;
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    margin: 37px 0px 29px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.69;
    font-size: 0.9375rem;
    font-weight: 400;
}

button {
    background-color: hsl(0, 0%, 95%);
    padding: 13px 32px;
    border: solid hsl(0, 0%, 95%) 2px;
    border-radius: 25px;
    text-align: center;
    font-size: 0.9375rem;
    font-family: 'Lexend Deca', sans-serif;
    width: fit-content;
}

button:hover {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    margin: 12px 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.card-sub {
    width: 207px;
    padding: 48px 48px;
    height: 405px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.card-sub:first-child {
    border-radius: 8px 0 0 8px;
}

.card-sub:last-child {
    border-radius: 0px 8px 8px 0px;
}


.btn-orange {
    color: hsl(31, 77%, 52%);
}

.btn-cyan {
    color: hsl(184, 100%, 22%);
}

.btn-dark-cyan {
    color: hsl(179, 100%, 13%);
}

.card-sub-orange {
    background-color: hsl(31, 77%, 52%);
}

.card-sub-cyan {
    background-color: hsl(184, 100%, 22%);
}

.card-sub-dark-cyan {
    background-color: hsl(179, 100%, 13%);
}

@media only screen and (max-width: 500px) {
    main {
        flex-direction: column;
        margin: 40px 20px;
    }

    .card-sub {
        height: 345px;
        width: 231px;
    }

    .card-sub:first-child {
        border-radius: 8px 8px 0px 0px;
    }

    .card-sub:last-child {
        border-radius: 0px 0px 8px 8px;
    }

    .attribution {
        position: relative;
        bottom: 0px;
        margin: 12px 0;
    }

}